Checks: >
  *,
  -llvmlibc-restrict-system-libc-headers,
  -misc-include-cleaner,
  -cppcoreguidelines-*,
  -modernize-*,
  -bugprone-*,
  -readability-*,
  -performance-*,
  -altera-unroll-loops,
  -altera-id-dependent-backward-branch,
  -android-cloexec-fopen,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  -altera-struct-pack-align
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
SystemHeaders: false

#   -clang-analyzer-core.CallAndMessage  - disables 'Taking false branch' n/ path-sensitive warnings
#   -altera-struct-pack-align - Complains about padding in structs to align in multiples of 64 for better CPU cache optimization